<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Gerar boleto</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script type="module">           
        import { createFields } from "/assets/js/create-fields.js";
        document.querySelector('.form').insertAdjacentElement('afterbegin', createFields('cpf', 'cpf: 11155599971'));
    </script>
</head>
<body>

    <div class="main">
        <div class="logo">
            <img src="https://white-desert-0eb773a10.azurestaticapps.net/logo.gif">
            <p>Página de pagamento</p>
        </div>
        <div class="content">
            <form class="form">
                
                <span id="download">
                    <a id="createBankingBillet" class="btn" href="javascript:void(0)">
                        <span id="btn-txt">Gerar Boleto </span>
                        &nbsp;
                        <span id="loader" class="loader"></span>
                    </a>
                </span>

                <p id="error" class="error"></p>
                <hr>
                <p>Por que devo informar um CPF?</p>
                <a href="javascript:void(0);"><p>Política de Privacidade</p></a>
            </form>
        </div>
    </div>
    
    <script type="module">
        import { main } from "/assets/js/main.js";
    </script>

</body>
</html>